:root {
    --clr-primary: rgb(54,112,199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99,36,36);
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 480px) {

    }
}

.titulo {
    text-align: center;
    font-size: calc(3vw + 2rem);
    font-weight: 900;
    color: rgba(0,0,0,0.1);
    letter-spacing: 1px;
    margin: 0 0 0.5em
}

.wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 

    @media screen and (max-width: 480px) {
        width: 100%;
        flex-direction: column;
    }
}

.wrapper-lista {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.listas {
    margin: 0 0 30px 30px;
    max-width: 100%;
}

.listas-de-tareas {
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
    padding-left: 1.1em; 
}

.nombre-de-lista {
    cursor: pointer;
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.nombre-de-lista:hover {
    opacity: 0.7;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.crear {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 150ms ease-in; 
}

.btn.crear:hover {
    opacity: 0.5;
}

.btn.delete {
    //font-weight: 700;
    //letter-spacing: 1px;
    opacity: 0.8;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 200ms;
    transition: border-color 200ms;
    border:1px solid #e4e4e4;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;

    @media screen and (max-width: 480px) {
        width: 100%;
        margin-top: 0;
    }
    
}

.btn.delete:hover {
    color: var(--clr-warning);
    border-color: var(--clr-warning)
}

.nueva {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentcolor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;

    transition: border-bottom 150ms ease-in;
    order: 2;
}

.nueva:focus {
    border-bottom-width: 3px;
}

.nueva:focus::placeholder {
    opacity: 0.2;
}

.nueva.lista {
    font-size: 1.2rem;
    color: var(--clr-light);
    overflow: hidden;
}

.nueva.tarea,
.nueva.lista {
    padding: 0.25em;
}


.nueva.tarea {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
}

.active {
    font-weight: 700;
}

.lista-simple {
    --spacer: 2rem;

    background: var(--clr-light);
    color: var(--clr-dark); 
    overflow: hidden;
    

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.encabezado-de-lista {
    background: #e4e4e4;
    padding: var(--spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.titulo-de-lista {
    margin: 0;
    margin: 0 1em 0 0;
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.cuenta-tareas {
    margin: 0;
    font-size: 1rem;
}

.lista-body {
    padding: var(--spacer);
    position: relative;
    display: block;
}

.tasks {
    overflow: hidden;
}

.crear-tarea .crear {
    color: var(--clr-primary);
}

[type="checkbox"] {
    opacity: 0;
    position: absolute,
}

.tarea label {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}

.tarea::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
    height: 1px;
    background: currentColor; 
    opacity: 0.11;
}

.tarea {
    position: relative;
}

.checkbox-custom {
    --size: .75em;

    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.tarea:hover .checkbox-custom,
[type="checkbox"]:focus + label .checkbox-custom {
    transform: scale(1.2);
    color: var(--clr-primary);
}

[type="checkbox"]:checked + label .checkbox-custom {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0 3px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.tarea label::after {
    content: "";
    position: absolute;
    left: 1.5em;
    right: 0;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.pie-de-lista {
    display: flex;
    justify-content: space-evenly; 
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0px;
    color: var(--clr-light);
    flex-wrap: wrap;
    box-sizing: border-box;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 10px;

        
    }
}

